.features {
  padding-bottom: 60px;
  padding-top: 60px;

  @media screen and (min-width: $desktop) {
    padding-bottom: 94px;
    padding-top: 94px;
  }
}
.features__list {
  display: block;

  @media screen and (min-width: $tablet) {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
  }
}

.features__item {
  width: 100%;
  @media screen and (max-width: 767px) {
    &:not(:last-child) {
      margin-bottom: 30px;
    }
  }
  @media screen and (min-width: $tablet) {
    width: calc((100% - 2 * 30px) / 2);
    margin: 15px;
  }

  @media screen and (min-width: $desktop) {
    width: calc((100% - 4 * 30px) / 4);
    margin: 15px;
  }
}

.features__title {
  margin-bottom: 10px;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  align-items: center;
  color: $text-h;

  @media screen and (max-width: 767px) {
    text-align: center;
  }
}
.features__icon {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 120px;
  margin-bottom: 30px;
  background-color: $background-btn-still;
  border-radius: 4px;
}

.features__description {
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;

  color: $main-text;
}