.hero {
  max-width: 1600px;
  min-height: 600px;
  margin: 0 auto;

  background-image: linear-gradient(to right, $background-hero, $background-hero),
    url(../images/hero.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: $bg-hero;
  text-align: center;
  padding: 200px 0;

  &__title {
    font-weight: 900;
    margin-bottom: 30px;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;

    color: $background-color;
  }
}