.social-list {
    display: none;
    @media screen and (max-width: 767px) {
      display: flex;
      align-items: center;
      justify-content: flex-start;
  
      padding-left: 40px;
      margin-top: 64px;
      &__item {
        &::after {
          content: '';
          border: 1px solid rgba(33, 33, 33, 0.2);
          transform: rotate(90deg);
          margin-left: 10px;
          margin-right: 10px;
        }
      }
      &__link {
        font-family: Roboto;
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 1.22;
        letter-spacing: 0.02em;
  
        color: $fill;
        @media screen and (max-width: 479px) {
          font-size: 12px;
        }
      }
    }
  }