$mainfont: Roboto, sans-serif;
$background-color: #ffffff;
$background-secondary: #2f303a;
$background-hero: rgba(47, 48, 58, 0.4);
$background-what-we-do: rgba(47, 48, 58, 0.8);
$bg-hero: #c4c4c4;
$bg-icon-footer: rgba(255, 255, 255, 0.1);
$fill: #2196f3;
$background-fill: rgba(33, 150, 243, 0.9);
$bottom-line-header: #ececec;
$main-text: #757575;
$spacial-text: #000000;
$text-h: #212121;
$background-btn-still: #f5f4fa;
$icon-still: #afb1b8;
$boarder-cards: #eeeeee;
$backdrop: rgba(0, 0, 0, 0.2);
$bg-btn-hover: #188ce8;